<h1 [title]="selectedFavouritesList?.name"></h1>

<div class="container">
  <div class="grid">
    <div class="favourites-list-card" *ngIf="selectedFavouritesList">
      <h1>
        {{ selectedFavouritesList.name }}
        <div class="button-grid">
          <button [routerLink]="['/favouriteslist', selectedFavouritesList.id, 'update']">Edit List Info</button>
          <button (click)="deleteFavouritesList(selectedFavouritesList)" [routerLink]="['/favouriteslist']">
            Delete List
          </button>
        </div>
        <hr />
      </h1>
      <div class="grid-elements" *ngIf="selectedFavouritesList">
        <h3>Id: {{ selectedFavouritesList.id }}</h3>
        <h3>Name: {{ selectedFavouritesList.name }}</h3>
        <h3>Description: {{ selectedFavouritesList.description }}</h3>
      </div>
      <div class="grid-elements">
        <div class="favourites-list-card" *ngFor="let favourite of selectedFavouritesList.favourites">
          <h1>
            {{ favourite }}
            <div>
              <button>Edit favourite info</button>
              <button (click)="(favourite)">Delete</button>
            </div>
            <hr />
          </h1>
          <div class="grid-elements">
            <h3>Id: {{ favourite }}</h3>
            <h3>Name: {{ favourite }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>