<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-9">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Sten Reijerse</h3>
                        <p class="card-text">Studentnummer: 2175709</p>
                    </div>
                </div>
            </div>
            <h1 id="aboutTitle">Over deze applicatie</h1>
            <p>
                Deze applicatie is gemaakt in het kader van het vak 'Clientside web
                frameworks' van Avans Hogeschool Breda.
            </p>
            <h1>Voetbal-app</h1>
            <p>
                Met deze app kun je je favoriete voetbalclubs of spelers volgen.
                Deze kan je toevoegen aan één van de door jouw gemaakte lijsten.
                Door op de details van de lijst te klikken, kun je de door jouw toegevoegde clubs
                en/of spelers zien.
                In de lijst met clubs en spelers kan je zoeken naar jouw favoriete club/speler.
                Als gebruiker is het ook mogelijk om andere gebruikers toe te voegen als vriend.
                Je kunt alle gebruikers zien, in de lijst met gebruikers.
            </p>
        </div>
    </div>

    <h3>Entiteiten</h3>

    <img src="assets/CasusBeschrijvingV3.png" class="px-5 py-5" alt="..." />

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <p>Gebruiker</p>
            <ul>
                <li>gebruikersNaam: string</li>
                <li>id: number</li>
                <li>email: string</li>
                <li>password: string</li>
                <li>friends: User[]</li>
                <li>favorieten: Favoriet[]</li>
                <li>isAdmin: boolean</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <p>Club</p>
            <ul>
                <li>naam: string</li>
                <li>id: number</li>
                <li>competitie: string</li>
                <li>land: string</li>
                <li>plaats: string</li>
                <li>stadion: string</li>
                <li>ranking: number</li>
                <li>rating: number</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <p>Player</p>
            <ul>
                <li>naam: string</li>
                <li>id: number</li>
                <li>spelersNaam: string</li>
                <li>leeftijd: number</li>
                <li>club: Club</li>
                <li>nationaliteit: string</li>
                <li>reting: number</li>
                <li>positie: string</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <p>Favorieten</p>
            <ul>
                <li>id: number</li>
                <li>spelerId: number</li>
                <li>spelersNaam: string</li>
                <li>clubId: number</li>
                <li>clubNaam: number</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Userstories</h2>
            <table class="table table-bordered">
                <thead>
                    <th class="th-css">Nr</th>
                    <th class="col-6">Userstory</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="td-css">1</td>
                        <td class="td-underlined">
                            Als gebruiker wil ik een favorieten lijst kunnen aanmaken zodat
                            ik mijn favoriete clubs en spelers kan toevoegen.
                        </td>
                    </tr>
                    <tr>
                        <td class="td-css">2</td>
                        <td class="td-underlined">
                            Als gebruiker wil ik door een lijst van clubs kunnen bladeren,
                            zodat ik mijn favoriete clubs kan vinden en deze aan mijn lijst kan toevoegen.
                        </td>
                    </tr>
                    <tr>
                        <td class="td-css">3</td>
                        <td class="td-underlined">
                            Als gebruiker wil ik door een lijst van spelers kunnen bladeren,
                            zodat ik mijn favoriete spelers kan vinden en deze aan mijn lijst kan toevoegen.
                        </td>
                    </tr>
                    <tr>
                        <td class="td-css">4</td>
                        <td class="td-underlined">
                            Als gebruiker wil ik mijn eigen favorietenlijst kunnen bekijken,
                            zodat ik mijn favorieten kan zien.
                        </td>
                    </tr>
                    <tr>
                        <td class="td-css">5</td>
                        <td class="td-underlined">
                            Als gebruiker wil ik mijn favorietenlijst kunnen bewerken,
                            zodat ik mijn favorieten kan verwijderen als ik een club/speler niet meer
                            in mijn favorietenlijst wil hebben.
                        </td>
                    </tr>                  
                    <tr>
                        <td class="td-css">6</td>
                        <td>
                            Als gebruiker wil ik mijn vrienden kunnen toevoegen, ook wil ik als gebruiker
                            de mogelijkheid hebben om mijn vriendenlijst te bekijken en aan te passen.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>