<h1 [title]="selectedFavouritesList?.name"></h1>

<div class="container">
  <div class="grid">
    <div class="favourites-list-card" *ngIf="selectedFavouritesList">
      <h1>
        {{ selectedFavouritesList.name }}
        <hr>
      </h1>
      <div class="grid" *ngIf="selectedFavouritesList">
        <h3>
          Id: {{ selectedFavouritesList.id }}
        </h3>
        <h3>
          Name: {{ selectedFavouritesList.name }}
        </h3>
        <h3>
          Description: {{ selectedFavouritesList.description }}
        </h3>
      </div>

      <button>Edit list info</button>
    </div>
  </div>
</div>