<h1 [title]="selectedFavouritesList?.name"></h1>

<div class="container">
  <div class="grid">
    <div class="favourites-list-card" *ngIf="selectedFavouritesList">
      <h1>
        {{ selectedFavouritesList.name }}
        <div class="button-grid">
          <button (click)="deleteFavouritesList(selectedFavouritesList)" [routerLink]="['/favouriteslist']">
            Delete List
          </button>
        </div>
        <hr />
      </h1>

      <form class="form-list" [formGroup]="favouritesListUpdateForm">
        <div class="form-list-items">
          <label for="listName">Name: </label>
          <input id="listName" type="text" formControlName="listName" placeholder="{{selectedFavouritesList.name}}"/>  
        </div>
        <div class="form-list-items">
          <label for="description">Description: </label>
          <textarea id="description" type="text" formControlName="description" [(ngModel)]="selectedFavouritesList!.description" value={{selectedFavouritesList.description}}></textarea>
        </div>
        <div class="button-class">
          <button type="submit" (click)="onSubmit()" [routerLink]="['/favouriteslist']">
            Update List
          </button>
        </div>
      </form>

    </div>
  </div>
</div>