<h1>Users</h1>

<div class="container">
    <div class="grid">
        <button class="main-button" [routerLink]="['/users/add/form']">New User</button>
        <div class="user-list-card" *ngFor="let user of users">
            <h3>
                <a>
                    <span class="material-icons">person_identity</span>
                </a>
            </h3>
            <h3>
                <a>
                    {{ user.id }}
                </a>
                <a>
                    {{ user.userName }}
                </a>
                <a>
                    {{ user.email }}
                </a>
            </h3>
            <h3 class="button-items">
                <a>
                    <button [title]="user.userName + ' details'" [routerLink]="['/users', user.id]">Details</button>
                </a>
                <a>
                    <button [routerLink]="['/users', user.id, 'update']">Edit</button>
                </a>
                <a>
                    <button (click)="deleteUser(user)">Delete</button>
                </a>
            </h3>
        </div>
    </div>
</div>