<h1>Home</h1>

<div class="container">
  <div class="grid">

    <div class="item-list-card">
      <h3>
        <a [routerLink]="['/clublist']">
          <h1><span class="material-icons md-60">shield</span>Browse Clubs</h1>
        </a>
      </h3>
    </div>

    <div class="item-list-card">
      <h3>
        <a [routerLink]="['/clublist']">
          <h1><span class="material-icons md-60">directions_run</span>Browse Players</h1>
        </a>
      </h3>
    </div>


    <div class="item-list-card">
      <h3>
        <a [routerLink]="['/favourites']">
          <h1><span class="material-icons md-60">star_rate</span>Your Favourites</h1>
        </a>
      </h3>
    </div>
    <div class="item-list-card">
      <h3>
        <a [routerLink]="['']">
          <h1><span class="material-icons md-60">person_add</span> Search Friends</h1>
        </a>
      </h3>
    </div>

  </div>
</div>