/* Grid */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* Card */
.club-list-card {
    width: 70%;
    height: auto;  
    background-color: #3a33439a;
    border: black 1px solid;
    border-radius: 10px;
    padding: 25px;
    margin: 25px;
}

/* Card Header */
.club-list-card h1 {
    text-align: center;
    font-size: 50px;
    vertical-align: middle;
}

.club-list-card h3 {
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
}

/* Hyperlink Club Name */
a {
    cursor: pointer;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.8;
    text-decoration: underline;
  }

/* Button */
button {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 7px;
    border: black solid 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    cursor: pointer;
    background-color: #4d1295;
    color: white;
    margin-bottom: 20px;
}

.button:hover,
button:hover {
    opacity: 0.7;
    font-weight: normal;
}

.button:disabled,
button:disabled {
    opacity: 0.5;
    cursor: auto;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
}

p{
    text-align: center;
}