<h1 [title]="selectedClub?.name"></h1>

<div class="container">
  <div class="grid">

    <div class="club-list-card" *ngIf="selectedClub">
      <h1>
        {{ selectedClub.name }}

        <hr>
      </h1>
      <div class="grid-elements" *ngIf="selectedClub">
        <h3>
          Country: {{ selectedClub.country }}
        </h3>
        <h3>
          Place: {{ selectedClub.place }}
        </h3>
        <h3>
          Stadium: {{ selectedClub.stadium }}
        </h3>
        <h3>
          League: {{ selectedClub.league}}
        </h3>
        <h3>
          Rating: {{ selectedClub.clubRating }}
        </h3>
        <h3>
          WorldRanking: {{ selectedClub.ranking }}
        </h3>
      </div>
      <div class="button-thingy">
        <select class="form-select">
          <option class="option-item" *ngFor="let f of favourites" [value]="f.id">
            {{ f.name }}
          </option>
        </select>
        <button>Add club</button>
      </div>
    </div>
  </div>
</div>