<h1>Favourites</h1>

<div class="container">
    <div class="grid">
        <button class="button">New List</button>
        <div class="favourite-list-card" *ngFor="let favouritesList of favourites">
            <h3>
                <a>
                    {{ favouritesList.name }}
                </a>
                <a>
                    <button [title]="favouritesList.name + ' details'" [routerLink]="['/favourites', favouritesList.id]">Details</button>
                </a>
                <a>
                    <button type="submit">Edit</button>
                </a>
                <a>
                    <button (click)="deleteFavouritesList(favouritesList)">Delete</button>
                </a>
            </h3>
        </div>
    </div>
</div>