/* Card */
.grid {
  display: flex;
  width: 100%;
  grid-gap: 10px;
  align-content: center;
  justify-content: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  row-gap: 50px;
}

.player-list-card {
  width: 70%;
  height: wrap-content;
  background-color: #3a33439a;
  border: black 1px solid;
  border-radius: 10px;
  padding: 15px;
  margin: 50px;
}

/* Player Header */
.player-list-card h3 {
  text-align: center;
  font-size: 24px;
}

/* Player Body */
.player-list-card p {
  text-align: center;
  font-size: 16px;
}

/* Hyperlink Player Name */
a {
  cursor: pointer;
  color: white;
  text-align: center;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Button */
button {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 8px 16px;
  border: none;
  border-left: 1px solid black;
  border-radius: 0px 8px 8px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  cursor: pointer;
  background-color: #4d1295;
  color: white;
}

.button:hover,
button:hover {
  opacity: 0.7;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

h1 {
  text-align: center;
  font-size: 40px;
}

p {
  text-align: center;
}

hr {
  border: 1px solid #4d1295;
  margin-top: 30px;
}

/* Button + Form Looks*/
.form-select {
  width: 180%;
  height: 100%;
  padding: 12px 20px;
  color: white;
  margin: auto;
  border: none;
  background-color: transparent;
  border-radius: 8px 0 0 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  text-align: center;
}

.form-select:focus {
  outline: none;
  border: 2px solid rgb(91, 136, 170);
}

.button-thingy {
  justify-content: center;
  display: flex;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  height: 100px;
  width: 70%;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgba(52, 13, 103, 0.295);
}

.option-item {
  background-color: rgba(0, 0, 0, 0.732);
  border: none;
}

.option:hover {
  background-color: rgba(252, 21, 21, 0.932);
  border: none;
}